<section class="finder">
    <img class="finder__img" src="./assets/images/logo.svg" alt="" />
    <h1 class="finder__title">Buscador de series Anime</h1>
    <form class="finder__form">
        <input class="finder__form--input js-input" type="text"
            placeholder="Buscar..." name="search" />
        <input class="finder__form--btn js-search" type="submit"
            value="Buscar" />
        <input class="finder__form--btn js-reset" type="reset" value="Reset" />
    </form>
</section>